In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("179_cases - Sheet1.csv")
df.head()

,Case ID,Case Name,Sex Trafficking,STATE,AGENCY,CRIME,CRIME_MINOR,CRIME_ADULT,NAME,TRAINING
0,1,"A.B. v. Shilo Inn, Salem, LLC, 2023 U.S. Dist....",1,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2,"A.D. v. Best Western Int_l, Inc., 2023 U.S. Di...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"A.D. v. Choice Hotels Int_l, Inc., 2023 U.S. D...",1,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,4,"A.D. v. Choice Hotels Int_l, Inc., 2023 U.S. D...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"A.D. v. Choice Hotels Int_l, Inc., 2023 U.S. D...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN